html {
    scroll-behavior: smooth;
}
/*Mobile*/
body {
    overflow-x: hidden;
}
header {
    background-image: url(./img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}


/*Menu*/



/*burger*/

.navbar__container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 15px 15px 0 15px;
}
.navbar__container__links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background-image: url(./img/burger_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(6);
    flex-direction: column;
    align-items: center;
    width: 100vw;
    transform: translateX(100%);
    padding-left: 0;
    margin: 0;
    z-index: 1;
    transition: 2s;
    display: none;
}
.navbar__container__links a {
    color: white;
    transition: 0.8s;
}
.navbar__container__links li {
    list-style: none;
    opacity: 0;
    margin: 3em;
    text-align: center;
}
.navbar__container__links li:last-child {
    margin: 20vh auto;
}
.navbar__container__links li:first-child {
    margin-top: 7em;
}
.navbar__container__links li a:hover {
    color: white;
    transition: 0.8s;
}
.navbar__container__burger {
    display: block;
    cursor: pointer;
    z-index: 1;
}
.navbar__container__burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
    transition: ease-in-out 1.5s;
}
.navbar__container__burger .navbar__container__burger__line2 {
    transition: ease-in-out 2.5s;
}
.nav-active {
    transform: translateX(0%);
    z-index: 1;
    transition: 1s;
    display: flex;
    animation: scroll 1s;
}
.navbar__container__links img {
    width: 80px;
    height: 80px;
}
/*burger*/

header h1 {
    position: absolute;
    left: -999px;
}

.navbar__logo a {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.navbar__logo img {
    width: 100%;
    height: 100%;
}
.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.con a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.slogan {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 70vw;

}
.btn {
    text-align: center;
    background-color: unset;
    width: 100px;
    border: 1px solid var(--text--light);
    border-radius: 25px;
    padding: 5px 0;
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    transform: translateX(-50%);
    left: 50%;
    text-decoration: none;
}
.icon-down {
    content: url(./icons/arrow-down.svg);
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
}
.product-video {
    width: 330px;
    height: 200px;
    margin: 40px auto;
}
.product-video iframe {
    width: 100%;
    height: 100%;
}
.section--info {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 230px;
}
.block--width {
    padding: 15px;
    max-width: 400px;
    margin: 0 auto;
}
.material {
    background-image: url(./img/material_bg.jpg);
}
.making {
    background-image: url(./img/vyroba_bg.jpg);
}
.section--info h2 {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.material__flex {
    display: flex;
    margin: 20px auto;
    justify-content: space-around;
}
.material__flex div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section--info__caption {
    margin: 0 auto;
    max-width: 500px;
}
.icon-cotton {
    content: url(./icons/cotton.svg);
    width: 40px;
}
.icon-poly {
    content: url(./icons/recycle.svg);
    width: 40px;
}
.mid-logo {
    width: 150px;
    height: auto;
    margin: 60px auto;
}
.mid-logo img {
    width: 100%;
    height: 100%;
}
.making h2 {
    margin-top: 30px;
}
.making .section--info__caption {
    margin-top: 30px;
    max-width: 400px;
}
.product-header {
    background-image: url(./img/produkty-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
.product-header h2 {
    margin: 0 auto;
    text-align: center;
    padding-top: 65px;
}
.block--bg {
    background-image: url(./img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery {
    margin: 50px auto;
    padding: 15px;
    max-width: 700px;
}
.gallery:first-child {
    margin-top: 30px;
}
.gallery__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.gallery__flex::-webkit-scrollbar {
    height: 5px;
    color: var(--text--light);
}
.gallery__flex figure {
    width: 100%;
    height: 100%;
    margin: 10px;
    flex-basis: content;
}
.gallery__flex .gallery__flex__socks a {
    width: 120px;
    height: 170px;
    transition: 1s;
}
.gallery__flex a {
    display: block;
    width: 150px;
    height: 170px;
    transition: 1s;
}
.gallery__flex img {
    width: 100%;
    height: 100%;
}
.buy figure {
    position: relative;
    height: 180px;
    width: 180px;
    margin: 20px auto;
}
.buy a {
    display: block;
}
.buy div {
    position: absolute;
    bottom: 80px;
    left: 30px;
}
.buy img {
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.preparing {
    margin: 50px auto;
}
.preparing h3 {
    text-align: center;
    margin-bottom: 30px;
}
.preparing p {
    text-align: center;
    margin-top: 30px;
}
.example__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.example__flex figure {
    margin: 0;
}
.example__flex a {
    width: 150px;
    height: 170px;
    display: block;
}
.example__flex img {
    width: 100%;
    height: 100%;
}
.example__flex__socks a {
    width: 120px;
    height: 170px;
}
.section--aboutus h2 {
    text-align: center;
}
.section--aboutus__container {
    max-width: 300px;
    margin: 0 auto;
}
.section--aboutus__container h2 {
    margin-bottom: 10px;
    margin-top: 0;
}
.section--aboutus__container div{
    display: flex;
    flex-direction: column;
}
.section--aboutus__container p {
    margin: 0;
}
.footer_container {
    display: flex;
    flex-direction: column;
    background-image: url(./Loga/heaven_nápis_černý.svg);
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100vw;
    opacity: 0.3;
    justify-content: center ;
}
.footer_container figure {
    margin: 10px auto 5px auto;
    width: 30px;
    height: auto;
}
.footer_container a {
    display: block;
}
.footer_container img {
    width: 100%;
    height: 100%;
}
.footer_container__copyright {
    text-align: center;
}


/* Hover */
.gallery__flex a:hover {
    transform: scale(1.1);
    transition: 1s;
}




@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes scrollback {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.toggle .navbar__container__burger__line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: ease-in-out 1.5s;
    z-index: 1;
}
.toggle .navbar__container__burger__line2 {
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}
.toggle .navbar__container__burger__line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: ease-in-out 1.5s;
    z-index: 1;
}
@media (min-width: 550px) {
    .product-video {
        width: 450px;
        height: 250px;
    }
    .block--width {
        max-width: 600px;
    }
    .section--info h2 {
        width: unset;
    }
    .icon-cotton {
        width: 60px;
    }
    .icon-poly {
        width: 60px;
    }
    .making h2 {
        margin-top: 40px;
    }
}
@media (min-width: 768px) {
    .navbar__logo a {
        width: 150px;
        height: 150px;
    }
    .btn {
        width: 130px;
        padding: 10px 0;
    }
    .product-video {
        width: 600px;
        height: 300px;
    }
    .section--info {
        height: 400px;
    }
    .material {
        background-image: url(./img/material_bg768.jpg);
    }
    .section--info h2 {
        margin-top: 50px;
    }
    .material__flex {
        margin: 50px auto 30px auto;
        justify-content: center;
    }
    .material__flex div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block1 {
        margin-right: 150px;
    }
    .icon-cotton {
        width: 80px;
    }
    .icon-poly {
        width: 80px;
    }
    .mid-logo {
        width: 150px;
        height: auto;
        margin: 60px auto;
    }
    .mid-logo img {
        width: 100%;
        height: 100%;
    }
    .making {
        background-image: url(./img/vyroba_bg768.jpg);
    }
    .making h2 {
        margin-top: 90px;
    }
    .making .section--info__caption {
        margin-top: 80px;
        max-width: 500px;
    }
    .gallery__flex a {
        width: 200px;
        height: 230px;
    }
    .gallery__flex .gallery__flex__socks a {
        width: 170px;
        height: 230px;
    }
    .example__flex {
        justify-content: center;
    }
    .example__flex figure {
        margin: 0 25px;
    }
    .example__flex figure a {
        height: 230px;
        width: 200px;
    }
    .example__flex .example__flex__socks a {
        width: 170px;
        height: 230px;
    }
        
    .footer_container {
        height: 150px;
    }  

}
@media (min-width: 1020px) {
    nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;
        padding: 15px;
    }
    .navbar__container__links {
        position: initial;
        display: flex;
        background-image: unset;
        flex-direction: row;
        justify-content: right;
        width: 60vw;
        height: 50px;
        padding-left: 0;
        margin: 0;
        transform: translateX(0);
    }
    .navbar__container {
        padding: 0;
    }
    .navbar__container__links li {
        opacity: 1;
        margin: 10px 20px;
    }
    .navbar__container__links li:last-child {
        display: none;
    }
    .navbar__container__links li:first-child {
        margin: 10px 20px;
    }
    .navbar__container__burger {
        display: none;
    }
    .product-video {
        width: 900px;
        height: 450px;
    }
    .block--width {
        max-width: 900px;
    }
    .material {
        background-image: url(./img/material_bg1920.jpg);
    }
    .making {
        background-image: url(./img/vyroba_bg1920.jpg);
    }
    .section--aboutus__container {
        max-width: 700px;
        margin: 50px auto;
    }
    .product-header {
        height: 300px;
    }
    .product-header h2 {
        padding-top: 125px;
    }
    .gallery__flex a {
        width: 250px;
        height: 280px;
    }
    .gallery__flex .gallery__flex__socks a {
        width: 210px;
        height: 280px;
    }
    .example__flex .example__flex__socks a {
        width: 170px;
        height: 230px;
    }
    .footer_container figure {
        width: 60px;
    }
  
}
@media (min-width: 1400px) {
    .block--width {
        max-width: 1400px;
    }
    .section--info {
        height: 500px;
    }
    .gallery {
        max-width: 1400px;
    }
    .material h2 {
        margin-top: 90px;
    }
    .material__flex {
        margin: 70px auto 70px auto;
        justify-content: center;
    }
    .section--info__caption {
        max-width: 600px;
    }
    .making h2 {
        margin-top: 90px;
    }
    .making .section--info__caption {
        margin-top: 120px;
        max-width: 600px;
    }
    .mid-logo {
        width: 250px;
        margin: 100px auto;
    }
}