html {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    font-size: 12px;
}
:root {
    --bg-color--gray: rgba(238, 238, 238, 0.6);
    --bg-color--blue: rgba(60, 146, 202, 0.15);
    --border--blue: rgba(60, 146, 202, 1);
    --text--light: #ffffff;
    --text--dark: #000000;
    --text--gray: rgb(215, 215, 215);
}
h2 {
    color: var(--text--light);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
}
h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}



.nav-links a {
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 18px;
    color: var(--text--light);
    transition: 0.8s;
}
.slogan {
    font-size: 20px;
    color: var(--text--light);
    text-transform: uppercase;
}
.buy-btn {
    text-transform: uppercase;
    color: var(--text--light);
}
.infoblock {
    color: var(--text--light);
    text-transform: uppercase;
}
.caption {
    text-transform: initial;
    text-align: justify;
}
.product-header h2 {
    color: var(--text--dark);
}
.buy a {
    color: var(--text--dark);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}
.preparing {
    text-transform: uppercase;
}
.aboutus h2 {
    color: var(--text--dark);
}
 /*Hover*/

.nav-links a:hover {
    color: var(--text--light);
    transition: 0.8s ease-out;
}




@media (min-width: 768px) {
    .buy-btn {
        font-size: 16px;
    }
    h2 {
        font-size: 22px;
    }
    .infoblock {
        font-size: 16px;
    }
}
@media (min-width: 1020px) {
    html {
        font-size: 16px;
    }
    h2 {
        font-size: 26px;
    }
    .infoblock {
        font-size: 18px;
    }
    h3 {
        font-size: 20px;
    }
    .nav-links a {
        color: var(--text--gray);
    }
}